@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container .homepage {
  width: 1500px;
  height: 750px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./images/home1.jpg");
}

.container .homepage nav {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 168, 118, 0.2);
}

.container .homepage nav .logo {
  width: 100%;
  display: flex;
}

.container .homepage nav .logo .name {
  width: 30%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: left;
  color: white;
}

.container .homepage nav .logo .logo-icon {
  width: 60%;
  padding: 10px;
  display: flex;
  justify-content: right;
  align-items: right;
}

.container .homepage nav .logo .logo-icon i {
  font-size: 20px;
  color: white;
}

.container .homepage nav .menu_list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}

.container .homepage nav .menu_list ul li {
  list-style-type: none;
  float: left;
}

.container .homepage nav .menu_list ul li a {
  text-decoration: none;
  font-size: 15px;
  margin: 10px 50px;
  color: white;
}

.container .homepage nav .menu_list ul li:nth-of-type(6) a {
  background-color: rgba(255, 168, 118, 1);
  color: black;
  padding: 8px 16px;
}

.container .homepage nav .menu_list ul li:nth-of-type(6) a:hover {
  background-color: rgb(219, 146, 104);
}

.container .homepage .banner {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px 0px;
  /* background-color: gray; */
}

.container .homepage .banner h1 {
  color: rgba(255, 168, 118, 1);
}

.container .homepage .banner p {
  color: rgba(161, 161, 161, 1);
  width: 500px;
  text-align: center;
  margin: 20px 0px;
}

.container .homepage .banner .below-slide {
  margin: 50px 0px;
}

.container .homepage .banner .below-slide .ellipse {
  width: 40px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 25px;
}

.container .homepage .banner .below-slide .ellipse .point {
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 10px;
  margin: 30px 0px;
}

.container .homepage .banner #brochure-button {
  width: 200px;
  height: 40px;
  background-color: rgba(255, 168, 118, 1);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 20px 0px;
}

.container .homepage .banner #brochure-button:hover {
  background-color:rgb(214, 139, 96);
}

.container .homepage .banner .up-slider{
	position: fixed;
	right: 1%;
	bottom: 15%;
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: black;
	cursor: pointer;
	border-radius: 50%;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	
}

.container .homepage .banner .up-slider a{
	color: white;
	text-decoration: none;
}

.container .homepage .banner .whatsapp{
	position: fixed;
	right: 1%;
	bottom: 3%;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: green;
	background-color: rgb(0, 255, 0);
	padding: 5px;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	
}

.container .homepage .banner .whatsapp a{
	color: white;
	text-decoration: none;
	font-size: 30px;
}

.container .about {
  width: 1500px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(242, 242, 242, 1);
}

.container .about .heading {
  width: 50%;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}

.container .about .heading h3 {
  border-bottom: 1px solid black;
  width: 107px;
  height: 26px;
  left: 85.25px;
  top: 780px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 26px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.15em;
}

.container .about .heading h3 span {
  border: none;
}

.container .about .info {
  width: 50%;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container .about .info .link {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: left;
}

.container .about .info .link a {
  width: 140px;
  color: rgba(255, 168, 118, 1);
  padding: 7px;
  text-decoration: none;
  border-bottom: 1px solid salmon;
}

.container .about .info .link a i {
  padding: 0px 10px;
}

.container .what {
  width: 1500px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}

.container .what h1 {
  color: rgba(255, 168, 118, 1);
}

.container .what p {
  width: 600px;
  text-align: center;
}

.container .what .content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0px;
  flex-wrap: wrap;
}

.container .what .content .box {
  width: 300px;
  height: 150px;
  background-color: rgba(255, 246, 242, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid rgba(255, 168, 118, 1);
  border-radius: 7px;
}

.container .what .content .box i {
  color: rgba(255, 168, 118, 1);
  font-size: 20px;
  margin: 10px 0px;
}

.container .what .content .box h3 {
  color: rgba(255, 168, 118, 1);
}

.container .what .content .box p {
  width: 90%;
  font-size: 11px;
  margin-top: 9px;
}

.container .brochure {
  width: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./images/home1.jpg');
}

.container .brochure h1 {
  color: rgba(255, 168, 118, 1);
  margin: 10px 0px;
}

.container .brochure p {
  width: 700px;
  text-align: center;
  color: white;
}

.container .brochure img {
  margin: 40px 0px;
}

.container .gallery {
  width: 1500px;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  /* background-color: black; */
}

.container .gallery h1 {
  font-size: 60px;
}

.container .gallery h1 span {
  color: rgba(255, 168, 118, 1);
}

.container .gallery .content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container .gallery .content img {
  margin: 10px;
}

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.slideshow-container .mySlides img{
  width: 700px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.container .contact{
	width: 1500px;
	height: 700px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 50px;
	padding: 70px 0px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container .contact h1{
	color:rgba(255, 168, 118, 1) ;
}

.container .contact p{
	width: 650px;
}

.container .contact .content{
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 70px;
	
}

.container .contact .content form{
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: left;
	flex-direction: column;
	margin: 20px 0px;
}

.container .contact .content form label{
	font-size: 14px;
}

.container .contact .content form label span{
	color: red;
}

.container .contact .content form input{
	width: 90%;
	border: none;
	border-bottom: 2px solid rgb(132, 132, 132);
	outline: none;
	margin: 30px 0px;
	
}

.container .contact .content form button{
	width: 90%;
	height: 50px;
	border: none;
	outline: none;
	background-color:rgba(255, 168, 118, 1) ;
	color: white;
	cursor: pointer;
}

.container .contact .content form button:hover{
	background-color:rgb(222, 144, 99) ;
}

.container .contact .content .address{
	width: 50%;
	height: 100%;
	margin: 20px 0px;
}

.container .contact .content .address h3{
	margin: 20px 0px;
}

.container .contact .content .address p{
	margin: 15px 0px;
	font-size: 14px;
	
}

.container .contact .content .address p i{
	color:rgb(192, 125, 86) ;
}

.container .contact .content .address p:nth-of-type(1) i{
	color: red;
}

.container .contact .content .address p:nth-of-type(2) i{
	color: gray;
}

.container .contact .content .address p:nth-of-type(3) i{
	color: greenyellow;
}

.container .footer{
	width: 1500px;
	height: 170px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
}

.container .footer .social-media{
	width: 100%;
	height: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(45, 30, 21, 1);
}

.container .footer .social-media li{
	float: left;
	list-style-type: none;
}

.container .footer .social-media li a{
	text-decoration: none;
	color: white;
	margin: 0px 13px;
}

.container .footer .social-media li a i{
	font-size: 17px;
}

.container .footer p{
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(31, 20, 14, 1);
	font-size: 13px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px){

  .container .homepage{
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .container .homepage nav{
    height: 100px;
  }
.container .homepage nav .menu_list{
  display: none;
}

.container .homepage nav .logo .name{
  width: 100%;
  justify-content: left;
}

.container .homepage nav .logo .logo-icon{
  display: none;
}

.container .homepage .banner{
  width: 100%;
}

.container .homepage .banner h1{
  font-size: 25px;
  text-align: center;
}

.container .homepage .banner p{
  width: 90%;
  font-size: 13px;
}

.container .about{
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 70px 7px;
}

.container .about .heading{
  width: 100%;
  flex-direction: column;
  padding: 5px;
}

.container .about .info{
  width: 100%;
  flex-direction: column;
  padding: 5px;
  font-size: 13px;
}

.container .what{
  width: 100%;
  padding: 50px 10px;
}

.container .what .content{
  margin: 0px 0px;
}

.container .what p{
  width: 90%;
  font-size: 13px;
}

.container .brochure{
  width: 100%;
}

.container .brochure p{
  width: 90%;
  font-size: 13px;
}

.container .brochure img{
  width: 100%;
}

.container .slideshow-container{
  width: 100%;
  margin: 0px 0px;
}

.container .slideshow-container .mySlides{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .slideshow-container .mySlides img{
  width: 100%;
}

.container .contact{
  width: 90%;
  height: 100%;
  padding: 30px 0px;
  margin: 5px 0px;
}

.container .contact .content{
  flex-direction: column;
}

.container .contact .content form{
  width: 100%;
}

.container .contact .content .address{
  width: 100%;
}

.container .contact p{
  width: 90%;
  font-size: 13px;
}

.container .location iframe{
  width: 100vw;
}

.container .footer{
  width: 100%;
}

}